* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px 0 20px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(-145deg, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  color: #ffffff;
  box-shadow: 0 0 20px #ba66ff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo img {
  width: 50px;
  height: 50px;
}
.header__logo span {
  color: #ead0ff;
}
.header__menu-list {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.header__menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  min-height: 60px;
  border-bottom: 3px solid transparent;
  transition: all 150ms ease;
  position: relative;
}
.header__menu-item.extend {
  cursor: default;
}
.header__menu-item:not(.extend):hover {
  border-color: #d39dff;
  color: #ead0ff;
}
.header__menu-item.extend:hover {
  color: #ead0ff;
}
.header__menu-item.active {
  background: linear-gradient(180deg, rgba(234, 208, 255, 0) 80%, rgba(178, 84, 255, 0.32) 100%);
  border-color: #d39dff;
  color: #ead0ff;
}
.header__menu-item .add-options-svg {
  width: 20px;
  height: 20px;
}
.header__menu-item:hover .add-options-svg {
  transform: rotate(180deg);
}

.adding-options {
  display: none;
  grid-template-columns: repeat(1, minmax(max-content, 1fr));
  grid-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 0 10px #d2d2d2;
  background: white;
  background: linear-gradient(-45deg, rgb(202, 210, 255) 0%, rgb(250, 250, 250) 100%);
  color: #8c00ff;
  position: absolute;
  bottom: 0;
  left: -15px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 250ms ease;
  z-index: 1;
}
.adding-options-active {
  display: grid;
}
.adding-options > a {
  width: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: #7000cc;
  transition: all 100ms ease;
}
.adding-options > a.active {
  background: linear-gradient(45deg, rgba(63, 94, 251, 0.4) 0%, rgba(252, 70, 107, 0.4) 100%);
  color: white;
}
.adding-options > a:hover {
  background: linear-gradient(45deg, rgb(63, 94, 251) 0%, rgba(252, 70, 107, 0.5) 100%);
  color: white;
}

.language-svg {
  width: 25px;
  height: 25px;
}

#language-select {
  border: 2px solid #ba66ff;
  border-radius: 10px;
  min-height: 40px;
  color: #8c00ff;
  font-weight: bold;
  padding: 0 10px;
  margin: 0 0 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 10px;
  box-shadow: inset 0 9px 20px rgba(161, 113, 180, 0.29);
  position: relative;
}
.main::after {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.49) 10%, rgba(252, 70, 243, 0.16) 30%, rgba(255, 255, 255, 0.49) 50%, rgba(252, 70, 243, 0.18) 80%, rgba(255, 255, 255, 0.49) 100%);
  z-index: -10;
}

/*# sourceMappingURL=base.css.map */
